<% if @chiropractic_examination.initial_examination? %>
	<div class="span-24">
		<div class="span-4">
			<label>New Patient Exam:</label>
		</div>
		
		<div class="span-4">
			<%= f.check_box :duration_20_minutes, :disabled => disable_option %>&nbsp;<label>99202 (20 min)</label>
		</div>
		
		<div class="span-4">
			<%= f.check_box :duration_30_minutes, :disabled => disable_option %>&nbsp;<label>99203 (30 min)</label>
		</div>
		
		<div class="span-4 last">
			<%= f.check_box :duration_45_minutes, :disabled => disable_option %>&nbsp;<label>99204 (45 min)</label>
		</div>
	</div>
<% else %>
	<div class="span-24">
		<div class="span-4">
			<label>Re-exam:</label>
		</div>
		
		<div class="span-4">
			<%= f.check_box :duration_20_minutes, :disabled => disable_option %>&nbsp;<label>99212 (20 min)</label>
		</div>
		
		<div class="span-4">
			<%= f.check_box :duration_30_minutes, :disabled => disable_option %>&nbsp;<label>99213 (30 min)</label>
		</div>
		
		<div class="span-4 last">
			<%= f.check_box :duration_45_minutes, :disabled => disable_option %>&nbsp;<label>99214 (45 min)</label>
		</div>
	</div>
<% end %>

<hr class="space"/>

<div class="span-24">
	<label>Summary:</label>&nbsp;&nbsp;<%= f.text_field :summary, :class => "small_font_span_8", :disabled => disable_option %>
</div>

<div class="span-24 non_printable_block">
	<hr class="space"/>	
	<% disable_option = true if @chiropractic_examination.completed? %>
	<%= f.check_box :completed, :disabled => disable_option %>&nbsp;<label>Patient examination is complete.</label><br/>
	<span class="quiet">Check this after you finish entering all the details of this patient's examination and are ready to submit the form for medical insurance claim processing.
</div>