<div class="span-24">
	<div class="span-15">
		<span class="large">MD Manage Vision</span>
		<p>To provide quality medical services management by implementing a winning combination of technology and people to enhance the overall efficiency of client practices.</p>
		<p>MD Manage provides healthcare consulting, and technology-based solutions for the healthcare providers. We provide effective and efficient services including billing, patient management, insurance receivables management and electronic document management. We also specialize in providing business and technology analysis and counseling, supporting staffing solutions and/or delivering a fully outsourced service.</p>
	</div>
	
	<div class="span-8 box last">
		<% unless flash.now[:alert].blank? %>
			<div class="span-7 error">
				<%= flash.now[:alert] %>
			</div>
		<% end %>
		
		<% unless notice.blank? %>
			<div class="span-7 notice">
				<%= notice %>
			</div>
		<% end %>
		
		<%= form_tag sessions_path do %>
			<div class="span-8">
				<div class="span-8">
					<h3>Sign in</h3>
				</div>

				<div class="span-8">
					<%= label_tag :email %><br />
			    <%= text_field_tag :email, params[:email], :class => 'title' %>
				</div>

				<div class="span-8">
					<%= label_tag :password %><br />
			    <%= password_field_tag :password, nil, :class => 'title' %>
				</div>

				<div class="span-8 last">
					<div class="span-6">
						<%= link_to 'Forgot Password?', new_password_reset_path %>
					</div>
					<div class="span-2 last">
						<%= submit_tag "Sign in" %>
					</div>
			  </div>
			</div>
		<% end %>
	</div>
	
	<hr class="space"/>
</div>
