<p id="notice"><%= notice %></p>

<p>
  <b>Significant prior illness or injury:</b>
  <%= @chiropractic_symptom_list.significant_prior_illness_or_injury %>
</p>

<p>
  <b>Pain level on vas resting:</b>
  <%= @chiropractic_symptom_list.pain_level_on_vas_resting %>
</p>

<p>
  <b>Pain level on vas activity:</b>
  <%= @chiropractic_symptom_list.pain_level_on_vas_activity %>
</p>

<p>
  <b>Neck pain:</b>
  <%= @chiropractic_symptom_list.neck_pain %>
</p>

<p>
  <b>Neck pain side:</b>
  <%= @chiropractic_symptom_list.neck_pain_side %>
</p>

<p>
  <b>Neck pain scale:</b>
  <%= @chiropractic_symptom_list.neck_pain_scale %>
</p>

<p>
  <b>Neck pain radiation side:</b>
  <%= @chiropractic_symptom_list.neck_pain_radiation_side %>
</p>

<p>
  <b>Neck pain radiates to shoulder:</b>
  <%= @chiropractic_symptom_list.neck_pain_radiates_to_shoulder %>
</p>

<p>
  <b>Neck pain radiates to elbow:</b>
  <%= @chiropractic_symptom_list.neck_pain_radiates_to_elbow %>
</p>

<p>
  <b>Neck pain radiates to hand:</b>
  <%= @chiropractic_symptom_list.neck_pain_radiates_to_hand %>
</p>

<p>
  <b>Neck pain radiates to elbow:</b>
  <%= @chiropractic_symptom_list.neck_pain_radiates_to_elbow %>
</p>

<p>
  <b>Neck pain radiates to digit1:</b>
  <%= @chiropractic_symptom_list.neck_pain_radiates_to_digit1 %>
</p>

<p>
  <b>Neck pain radiates to digit2:</b>
  <%= @chiropractic_symptom_list.neck_pain_radiates_to_digit2 %>
</p>

<p>
  <b>Neck pain radiates to digit3:</b>
  <%= @chiropractic_symptom_list.neck_pain_radiates_to_digit3 %>
</p>

<p>
  <b>Neck pain radiates to digit4:</b>
  <%= @chiropractic_symptom_list.neck_pain_radiates_to_digit4 %>
</p>

<p>
  <b>Neck pain radiates to digit5:</b>
  <%= @chiropractic_symptom_list.neck_pain_radiates_to_digit5 %>
</p>

<p>
  <b>Upper mid back pain:</b>
  <%= @chiropractic_symptom_list.upper_mid_back_pain %>
</p>

<p>
  <b>Upper mid back pain side:</b>
  <%= @chiropractic_symptom_list.upper_mid_back_pain_side %>
</p>

<p>
  <b>Upper mid back pain scale:</b>
  <%= @chiropractic_symptom_list.upper_mid_back_pain_scale %>
</p>

<p>
  <b>Upper mid back pain radiation side:</b>
  <%= @chiropractic_symptom_list.upper_mid_back_pain_radiation_side %>
</p>

<p>
  <b>Low back pain:</b>
  <%= @chiropractic_symptom_list.low_back_pain %>
</p>

<p>
  <b>Low back pain side:</b>
  <%= @chiropractic_symptom_list.low_back_pain_side %>
</p>

<p>
  <b>Low back pain scale:</b>
  <%= @chiropractic_symptom_list.low_back_pain_scale %>
</p>

<p>
  <b>Low back pain radiation side:</b>
  <%= @chiropractic_symptom_list.low_back_pain_radiation_side %>
</p>

<p>
  <b>Low back pain radiates to buttocks:</b>
  <%= @chiropractic_symptom_list.low_back_pain_radiates_to_buttocks %>
</p>

<p>
  <b>Low back pain radiates to thighs:</b>
  <%= @chiropractic_symptom_list.low_back_pain_radiates_to_thighs %>
</p>

<p>
  <b>Low back pain radiates to calf:</b>
  <%= @chiropractic_symptom_list.low_back_pain_radiates_to_calf %>
</p>

<p>
  <b>Low back pain radiates to foot:</b>
  <%= @chiropractic_symptom_list.low_back_pain_radiates_to_hips %>
</p>

<p>
  <b>Low back pain radiates to foot:</b>
  <%= @chiropractic_symptom_list.low_back_pain_radiates_to_knees %>
</p>

<p>
  <b>Low back pain radiates to foot:</b>
  <%= @chiropractic_symptom_list.low_back_pain_radiates_to_foot %>
</p>

<p>
  <b>Headaches:</b>
  <%= @chiropractic_symptom_list.headaches %>
</p>

<p>
  <b>Headaches side:</b>
  <%= @chiropractic_symptom_list.headaches_side %>
</p>

<p>
  <b>Headaches scale:</b>
  <%= @chiropractic_symptom_list.headaches_scale %>
</p>

<p>
  <b>Headaches frontal:</b>
  <%= @chiropractic_symptom_list.headaches_frontal %>
</p>

<p>
  <b>Headaches suboccipital:</b>
  <%= @chiropractic_symptom_list.headaches_suboccipital %>
</p>

<p>
  <b>Headaches temporal:</b>
  <%= @chiropractic_symptom_list.headaches_temporal %>
</p>

<p>
  <b>Headaches bitemporal:</b>
  <%= @chiropractic_symptom_list.headaches_bitemporal %>
</p>

<p>
  <b>Headaches parietal:</b>
  <%= @chiropractic_symptom_list.headaches_parietal %>
</p>

<p>
  <b>Numbness:</b>
  <%= @chiropractic_symptom_list.numbness %>
</p>

<p>
  <b>Numbness side:</b>
  <%= @chiropractic_symptom_list.numbness_side %>
</p>

<p>
  <b>Numbness scale:</b>
  <%= @chiropractic_symptom_list.numbness_scale %>
</p>

<p>
  <b>Numbness upper extremity to elbow:</b>
  <%= @chiropractic_symptom_list.numbness_upper_extremity_to_elbow %>
</p>

<p>
  <b>Numbness upper extremity to hand:</b>
  <%= @chiropractic_symptom_list.numbness_upper_extremity_to_hand %>
</p>

<p>
  <b>Numbness lower extremity to knee:</b>
  <%= @chiropractic_symptom_list.numbness_lower_extremity_to_knee %>
</p>

<p>
  <b>Numbness lower extremity to foot:</b>
  <%= @chiropractic_symptom_list.numbness_lower_extremity_to_foot %>
</p>

<p>
  <b>Tingling:</b>
  <%= @chiropractic_symptom_list.tingling %>
</p>

<p>
  <b>Tingling side:</b>
  <%= @chiropractic_symptom_list.tingling_side %>
</p>

<p>
  <b>Tingling scale:</b>
  <%= @chiropractic_symptom_list.tingling_scale %>
</p>

<p>
  <b>Tingling upper extremity to elbow:</b>
  <%= @chiropractic_symptom_list.tingling_upper_extremity_to_elbow %>
</p>

<p>
  <b>Tingling upper extremity to hand:</b>
  <%= @chiropractic_symptom_list.tingling_upper_extremity_to_hand %>
</p>

<p>
  <b>Tingling lower extremity to knee:</b>
  <%= @chiropractic_symptom_list.tingling_lower_extremity_to_knee %>
</p>

<p>
  <b>Tingling lower extremity to foot:</b>
  <%= @chiropractic_symptom_list.tingling_lower_extremity_to_foot %>
</p>

<p>
  <b>Other symptoms:</b>
  <%= @chiropractic_symptom_list.other_symptoms %>
</p>


<%= link_to 'Edit', edit_chiropractic_symptom_list_path(@chiropractic_symptom_list) %> |
<%= link_to 'Back', chiropractic_symptom_lists_path %>
