<% content_for(:main_header) do %>
	<h1 class="title">Chiropractic Examination</h1>
<% end %>

<% content_for(:main_content) do %>

	<div id="breadcrumb">
		<ul class="crumbs">
			<li><%= link_to 'Patients', patients_path %></li>
			<li><%= link_to 'Cases', patient_accidents_path(@patient) %></li>
			<li><%= link_to 'Chiropractic Examinations', patient_accident_chiropractic_examinations_path(@patient, @accident) %></li>
		</ul>
	</div>

	<br/> <br/>
	
	<div class="span-24">
		<%=@patient.full_name%>
	    <br/>
		<%= render 'form' %>
	</div>
	
<% end %>