<% content_for(:main_header) do %>
	<h1 class="title" style="margin-left: 5%;">Chiropractic Examinations</h1>
	&nbsp;
	<%= link_to 'New Chiropractic Examination', new_patient_accident_chiropractic_examination_path(@patient, @accident), :class => 'left green_button' %>
<% end %>

<% content_for(:main_content) do %>

	<div id="breadcrumb">
		<ul class="crumbs">
			<li><%= link_to 'Patients', patients_path %></li>
			<li><%= link_to 'Cases', patient_accidents_path(@patient) %></li>
			<li><%= link_to 'Chiropractic Examinations', patient_accident_chiropractic_examinations_path(@patient, @accident) %></li>
		</ul>
	</div>

	<br/>
	
	<table>
	  <thead>
			<th>Patient</th>
			<th>Examination Date</th>
			<th >Re-examination</th>
	    <th>Completed</th>
			<th>Claim Filed</th>
	    <th></th>
			<th></th>
  	</thead>

		<tbody>
			<% @chiropractic_examinations.each do |chiropractic_examination| %>
			  <tr>
					<td><%= link_to @patient.full_name, patient_accident_chiropractic_examination_path(@patient, @accident, chiropractic_examination) %></td>
					<td><%= chiropractic_examination.examination_date.strftime('%b %d, %Y') %></td>
					<td><%= chiropractic_examination.initial_examination? ? 'No' : 'Yes' %></td>
					<td><%= chiropractic_examination.completed? ? chiropractic_examination.completed_at.strftime('%b %d, %Y %I:%M %p') : 'No' %></td>
					<td><%= chiropractic_examination.insurance_claim_filed? ? chiropractic_examination.insurance_claim_filed_at.strftime('%b %d, %Y %I:%M %p') : 'No' %></td>
			    <td style="padding-right: 10px !important;"><%= link_to 'Archive', patient_accident_chiropractic_examination_path(@patient, @accident, chiropractic_examination), confirm: 'Are you sure you want to archive this chiropractic examination? All related chiropractic treatment notes will also be archived.', method: :delete %></td>
			 		<td><%= link_to 'Treatments', patient_accident_chiropractic_examination_chiropractic_treatments_path(@patient, @accident, chiropractic_examination) %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
	
	<br/>

	<div class="span-24">
		<%= paginate @chiropractic_examinations %>
	</div>

<% end %>