<% if current_user.admin? || current_user.staff? %>
	<div class="span-24">
		<ul id="crumbs">
			<li><%= link_to 'Clients', clients_path %></li>
		</ul>
	</div>
<% end %>

<div class="span-24">	
	<table class="advanced">
	  <thead>
		<th class="span-3">Patient</th>
		<th class="span-3">Doctor</th>
		<th class="span-3">Examination Date</th>
		<th class="span-4">Form Completion Date</th>
		<th class="span-4">Claim Filing Date</th>
		<th class="span-3">Claim Filed By</th>
    <th class="span-3 last"></th>
  </thead>

<% @chiropractic_examinations.each do |chiropractic_examination| %>
	<% accident = chiropractic_examination.accident %>
	<% patient = accident.patient %>
  <tr>
		<td><%= patient.full_name %></td>
		<td><%= User.find(chiropractic_examination.completed_by).name %></td>
		<td><%= chiropractic_examination.examination_date.strftime('%b %d, %Y') %></td>
		<td><%= chiropractic_examination.completed_at.strftime('%b %d, %Y %I:%M %p') %></td>
		<td><%= chiropractic_examination.insurance_claim_filed_at.strftime('%b %d, %Y %I:%M %p') %></td>
		<td><%= User.find(chiropractic_examination.insurance_claim_filed_by).name %></td>
    <td><%= link_to 'Show', patient_accident_chiropractic_examination_path(patient, accident, chiropractic_examination) %>
		<% if (current_user.doctor? || current_user.front_desk?) && (!chiropractic_examination.insurance_claim_filed?) %>
	 	| <%= link_to 'Edit', edit_patient_accident_chiropractic_examination_path(patient, accident, chiropractic_examination) %>
		<% end %>
	  | <%= link_to 'Archive', patient_accident_chiropractic_examination_path(patient, accident, chiropractic_examination), confirm: 'Are you sure you want to archive this examination? All related treatment notes will also be archived.', method: :delete %> </td>
  </tr>
<% end %>
</table>

<hr class="space"/>

<div class="span-24">
	<%= paginate @chiropractic_examinations %>
</div>

<br/>

<% if current_user.admin? || current_user.staff? %>
	<div class="span-24">
		<%= link_to 'Back', clients_path, :class => 'button' %>
	</div>
<% end %>