<h1>Listing chiropractic_investigation_lists</h1>

<table>
  <tr>
    <th>Ecohymosis</th>
    <th>Lacerations</th>
    <th>Edema</th>
    <th>Exam notes</th>
    <th>Crom flex exam</th>
    <th>Crom flex pain</th>
    <th>Crom flex discomfort</th>
    <th>Lrom flex exam</th>
    <th>Lrom flex pain</th>
    <th>Lrom flex discomfort</th>
    <th>Crom ext exam</th>
    <th>Crom ext pain</th>
    <th>Crom ext discomfort</th>
    <th>Lrom ext exam</th>
    <th>Lrom ext pain</th>
    <th>Lrom ext discomfort</th>
    <th>Crom lrot exam</th>
    <th>Crom lrot pain</th>
    <th>Crom lrot discomfort</th>
    <th>Lrom lrot exam</th>
    <th>Lrom lrot pain</th>
    <th>Lrom lrot discomfort</th>
    <th>Crom rrot exam</th>
    <th>Crom rrot pain</th>
    <th>Crom rrot discomfort</th>
    <th>Lrom rrot exam</th>
    <th>Lrom rrot pain</th>
    <th>Lrom rrot discomfort</th>
    <th>Crom llf exam</th>
    <th>Crom llf pain</th>
    <th>Crom llf discomfort</th>
    <th>Lrom llf exam</th>
    <th>Lrom llf pain</th>
    <th>Lrom llf discomfort</th>
    <th>Crom rlf exam</th>
    <th>Crom rlf pain</th>
    <th>Crom rlf discomfort</th>
    <th>Lrom rlf exam</th>
    <th>Lrom rlf pain</th>
    <th>Lrom rlf discomfort</th>
    <th>Other roms</th>
    <th>Cervical paraspinal musculature noted</th>
    <th>Cervical paraspinal musculature side</th>
    <th>Throacic paraspinal musculature noted</th>
    <th>Throacic paraspinal musculature side</th>
    <th>Lumbar paraspinal musculature noted</th>
    <th>Lumbar paraspinal musculature side</th>
    <th>Motor testing</th>
    <th>Motor testing exception</th>
    <th>Subluxation c1</th>
    <th>Subluxation c2</th>
    <th>Subluxation c3</th>
    <th>Subluxation c4</th>
    <th>Subluxation c5</th>
    <th>Subluxation c6</th>
    <th>Subluxation c7</th>
    <th>Subluxation t1</th>
    <th>Subluxation t2</th>
    <th>Subluxation t3</th>
    <th>Subluxation t4</th>
    <th>Subluxation t5</th>
    <th>Subluxation t6</th>
    <th>Subluxation t7</th>
    <th>Subluxation t8</th>
    <th>Subluxation t9</th>
    <th>Subluxation t10</th>
    <th>Subluxation t11</th>
    <th>Subluxation t12</th>
    <th>Subluxation l1</th>
    <th>Subluxation l2</th>
    <th>Subluxation l3</th>
    <th>Subluxation l4</th>
    <th>Subluxation l5</th>
    <th>Dermatomes</th>
    <th>Dermatomes exception</th>
    <th>Dtr biceps right</th>
    <th>Dtr biceps left</th>
    <th>Dtr pronator right</th>
    <th>Dtr pronator left</th>
    <th>Dtr triceps right</th>
    <th>Dtr triceps left</th>
    <th>Dtr patella right</th>
    <th>Dtr patella left</th>
    <th>Dtr achilles right</th>
    <th>Dtr achilles left</th>
    <th>Orthopedic test cervical comp right</th>
    <th>Orthopedic test cervical comp left</th>
    <th>Orthopedic test distraction right</th>
    <th>Orthopedic test distraction left</th>
    <th>Orthopedic test shoulder dep right</th>
    <th>Orthopedic test shoulder dep left</th>
    <th>Orthopedic test soto hall right</th>
    <th>Orthopedic test soto hall left</th>
    <th>Orthopedic test slr right</th>
    <th>Orthopedic test slr left</th>
    <th>Orthopedic test braggard right</th>
    <th>Orthopedic test braggard left</th>
    <th>Orthopedic test kemps right</th>
    <th>Orthopedic test kemps left</th>
    <th>Orthopedic test valsalva right</th>
    <th>Orthopedic test valsalva left</th>
    <th>Orthopedic test nachlas right</th>
    <th>Orthopedic test nachlas left</th>
    <th>Orthopedic test yeomans right</th>
    <th>Orthopedic test yeomans left</th>
    <th>Orthopedic test fabere patrick right</th>
    <th>Orthopedic test fabere patrick left</th>
    <th>Orthopedic test elys right</th>
    <th>Orthopedic test elys left</th>
    <th>Orthopedic test other</th>
    <th>Grip strength dyn1 right</th>
    <th>Rip strength dyn1 left</th>
    <th>Grip strength dyn2 right</th>
    <th>Rip strength dyn2 left</th>
    <th>Grip strength dyn3 right</th>
    <th>Rip strength dyn3 left</th>
    <th>Standing activity affected</th>
    <th>Sitting activity affected</th>
    <th>Bending activity affected</th>
    <th>Lifting activity affected</th>
    <th>Walking activity affected</th>
    <th>Sleeping activity affected</th>
    <th>Other activities affected</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chiropractic_investigation_lists.each do |chiropractic_investigation_list| %>
  <tr>
    <td><%= chiropractic_investigation_list.ecohymosis %></td>
    <td><%= chiropractic_investigation_list.lacerations %></td>
    <td><%= chiropractic_investigation_list.edema %></td>
    <td><%= chiropractic_investigation_list.exam_notes %></td>
    <td><%= chiropractic_investigation_list.crom_flex_exam %></td>
    <td><%= chiropractic_investigation_list.crom_flex_pain %></td>
    <td><%= chiropractic_investigation_list.crom_flex_discomfort %></td>
    <td><%= chiropractic_investigation_list.lrom_flex_exam %></td>
    <td><%= chiropractic_investigation_list.lrom_flex_pain %></td>
    <td><%= chiropractic_investigation_list.lrom_flex_discomfort %></td>
    <td><%= chiropractic_investigation_list.crom_ext_exam %></td>
    <td><%= chiropractic_investigation_list.crom_ext_pain %></td>
    <td><%= chiropractic_investigation_list.crom_ext_discomfort %></td>
    <td><%= chiropractic_investigation_list.lrom_ext_exam %></td>
    <td><%= chiropractic_investigation_list.lrom_ext_pain %></td>
    <td><%= chiropractic_investigation_list.lrom_ext_discomfort %></td>
    <td><%= chiropractic_investigation_list.crom_lrot_exam %></td>
    <td><%= chiropractic_investigation_list.crom_lrot_pain %></td>
    <td><%= chiropractic_investigation_list.crom_lrot_discomfort %></td>
    <td><%= chiropractic_investigation_list.lrom_lrot_exam %></td>
    <td><%= chiropractic_investigation_list.lrom_lrot_pain %></td>
    <td><%= chiropractic_investigation_list.lrom_lrot_discomfort %></td>
    <td><%= chiropractic_investigation_list.crom_rrot_exam %></td>
    <td><%= chiropractic_investigation_list.crom_rrot_pain %></td>
    <td><%= chiropractic_investigation_list.crom_rrot_discomfort %></td>
    <td><%= chiropractic_investigation_list.lrom_rrot_exam %></td>
    <td><%= chiropractic_investigation_list.lrom_rrot_pain %></td>
    <td><%= chiropractic_investigation_list.lrom_rrot_discomfort %></td>
    <td><%= chiropractic_investigation_list.crom_llf_exam %></td>
    <td><%= chiropractic_investigation_list.crom_llf_pain %></td>
    <td><%= chiropractic_investigation_list.crom_llf_discomfort %></td>
    <td><%= chiropractic_investigation_list.lrom_llf_exam %></td>
    <td><%= chiropractic_investigation_list.lrom_llf_pain %></td>
    <td><%= chiropractic_investigation_list.lrom_llf_discomfort %></td>
    <td><%= chiropractic_investigation_list.crom_rlf_exam %></td>
    <td><%= chiropractic_investigation_list.crom_rlf_pain %></td>
    <td><%= chiropractic_investigation_list.crom_rlf_discomfort %></td>
    <td><%= chiropractic_investigation_list.lrom_rlf_exam %></td>
    <td><%= chiropractic_investigation_list.lrom_rlf_pain %></td>
    <td><%= chiropractic_investigation_list.lrom_rlf_discomfort %></td>
    <td><%= chiropractic_investigation_list.other_roms %></td>
    <td><%= chiropractic_investigation_list.cervical_paraspinal_musculature_noted %></td>
    <td><%= chiropractic_investigation_list.cervical_paraspinal_musculature_side %></td>
    <td><%= chiropractic_investigation_list.throacic_paraspinal_musculature_noted %></td>
    <td><%= chiropractic_investigation_list.throacic_paraspinal_musculature_side %></td>
    <td><%= chiropractic_investigation_list.lumbar_paraspinal_musculature_noted %></td>
    <td><%= chiropractic_investigation_list.lumbar_paraspinal_musculature_side %></td>
    <td><%= chiropractic_investigation_list.motor_testing %></td>
    <td><%= chiropractic_investigation_list.motor_testing_exception %></td>
    <td><%= chiropractic_investigation_list.subluxation_c1 %></td>
    <td><%= chiropractic_investigation_list.subluxation_c2 %></td>
    <td><%= chiropractic_investigation_list.subluxation_c3 %></td>
    <td><%= chiropractic_investigation_list.subluxation_c4 %></td>
    <td><%= chiropractic_investigation_list.subluxation_c5 %></td>
    <td><%= chiropractic_investigation_list.subluxation_c6 %></td>
    <td><%= chiropractic_investigation_list.subluxation_c7 %></td>
    <td><%= chiropractic_investigation_list.subluxation_t1 %></td>
    <td><%= chiropractic_investigation_list.subluxation_t2 %></td>
    <td><%= chiropractic_investigation_list.subluxation_t3 %></td>
    <td><%= chiropractic_investigation_list.subluxation_t4 %></td>
    <td><%= chiropractic_investigation_list.subluxation_t5 %></td>
    <td><%= chiropractic_investigation_list.subluxation_t6 %></td>
    <td><%= chiropractic_investigation_list.subluxation_t7 %></td>
    <td><%= chiropractic_investigation_list.subluxation_t8 %></td>
    <td><%= chiropractic_investigation_list.subluxation_t9 %></td>
    <td><%= chiropractic_investigation_list.subluxation_t10 %></td>
    <td><%= chiropractic_investigation_list.subluxation_t11 %></td>
    <td><%= chiropractic_investigation_list.subluxation_t12 %></td>
    <td><%= chiropractic_investigation_list.subluxation_l1 %></td>
    <td><%= chiropractic_investigation_list.subluxation_l2 %></td>
    <td><%= chiropractic_investigation_list.subluxation_l3 %></td>
    <td><%= chiropractic_investigation_list.subluxation_l4 %></td>
    <td><%= chiropractic_investigation_list.subluxation_l5 %></td>
    <td><%= chiropractic_investigation_list.dermatomes %></td>
    <td><%= chiropractic_investigation_list.dermatomes_exception %></td>
    <td><%= chiropractic_investigation_list.dtr_biceps_right %></td>
    <td><%= chiropractic_investigation_list.dtr_biceps_left %></td>
    <td><%= chiropractic_investigation_list.dtr_pronator_right %></td>
    <td><%= chiropractic_investigation_list.dtr_pronator_left %></td>
    <td><%= chiropractic_investigation_list.dtr_triceps_right %></td>
    <td><%= chiropractic_investigation_list.dtr_triceps_left %></td>
    <td><%= chiropractic_investigation_list.dtr_patella_right %></td>
    <td><%= chiropractic_investigation_list.dtr_patella_left %></td>
    <td><%= chiropractic_investigation_list.dtr_achilles_right %></td>
    <td><%= chiropractic_investigation_list.dtr_achilles_left %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_cervical_comp_right %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_cervical_comp_left %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_distraction_right %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_distraction_left %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_shoulder_dep_right %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_shoulder_dep_left %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_soto_hall_right %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_soto_hall_left %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_slr_right %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_slr_left %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_braggard_right %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_braggard_left %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_kemps_right %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_kemps_left %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_valsalva_right %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_valsalva_left %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_nachlas_right %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_nachlas_left %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_yeomans_right %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_yeomans_left %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_fabere_patrick_right %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_fabere_patrick_left %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_elys_right %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_elys_left %></td>
    <td><%= chiropractic_investigation_list.orthopedic_test_other %></td>
    <td><%= chiropractic_investigation_list.grip_strength_dyn1_right %></td>
    <td><%= chiropractic_investigation_list.rip_strength_dyn1_left %></td>
    <td><%= chiropractic_investigation_list.grip_strength_dyn2_right %></td>
    <td><%= chiropractic_investigation_list.rip_strength_dyn2_left %></td>
    <td><%= chiropractic_investigation_list.grip_strength_dyn3_right %></td>
    <td><%= chiropractic_investigation_list.rip_strength_dyn3_left %></td>
    <td><%= chiropractic_investigation_list.standing_activity_affected %></td>
    <td><%= chiropractic_investigation_list.sitting_activity_affected %></td>
    <td><%= chiropractic_investigation_list.bending_activity_affected %></td>
    <td><%= chiropractic_investigation_list.lifting_activity_affected %></td>
    <td><%= chiropractic_investigation_list.walking_activity_affected %></td>
    <td><%= chiropractic_investigation_list.sleeping_activity_affected %></td>
    <td><%= chiropractic_investigation_list.other_activities_affected %></td>
    <td><%= link_to 'Show', chiropractic_investigation_list %></td>
    <td><%= link_to 'Edit', edit_chiropractic_investigation_list_path(chiropractic_investigation_list) %></td>
    <td><%= link_to 'Archive', chiropractic_investigation_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chiropractic investigation list', new_chiropractic_investigation_list_path %>
