<p id="notice"><%= notice %></p>

<p>
  <b>Ecohymosis:</b>
  <%= @chiropractic_investigation_list.ecohymosis %>
</p>

<p>
  <b>Lacerations:</b>
  <%= @chiropractic_investigation_list.lacerations %>
</p>

<p>
  <b>Edema:</b>
  <%= @chiropractic_investigation_list.edema %>
</p>

<p>
  <b>Exam notes:</b>
  <%= @chiropractic_investigation_list.exam_notes %>
</p>

<p>
  <b>Crom flex exam:</b>
  <%= @chiropractic_investigation_list.crom_flex_exam %>
</p>

<p>
  <b>Crom flex pain:</b>
  <%= @chiropractic_investigation_list.crom_flex_pain %>
</p>

<p>
  <b>Crom flex discomfort:</b>
  <%= @chiropractic_investigation_list.crom_flex_discomfort %>
</p>

<p>
  <b>Lrom flex exam:</b>
  <%= @chiropractic_investigation_list.lrom_flex_exam %>
</p>

<p>
  <b>Lrom flex pain:</b>
  <%= @chiropractic_investigation_list.lrom_flex_pain %>
</p>

<p>
  <b>Lrom flex discomfort:</b>
  <%= @chiropractic_investigation_list.lrom_flex_discomfort %>
</p>

<p>
  <b>Crom ext exam:</b>
  <%= @chiropractic_investigation_list.crom_ext_exam %>
</p>

<p>
  <b>Crom ext pain:</b>
  <%= @chiropractic_investigation_list.crom_ext_pain %>
</p>

<p>
  <b>Crom ext discomfort:</b>
  <%= @chiropractic_investigation_list.crom_ext_discomfort %>
</p>

<p>
  <b>Lrom ext exam:</b>
  <%= @chiropractic_investigation_list.lrom_ext_exam %>
</p>

<p>
  <b>Lrom ext pain:</b>
  <%= @chiropractic_investigation_list.lrom_ext_pain %>
</p>

<p>
  <b>Lrom ext discomfort:</b>
  <%= @chiropractic_investigation_list.lrom_ext_discomfort %>
</p>

<p>
  <b>Crom lrot exam:</b>
  <%= @chiropractic_investigation_list.crom_lrot_exam %>
</p>

<p>
  <b>Crom lrot pain:</b>
  <%= @chiropractic_investigation_list.crom_lrot_pain %>
</p>

<p>
  <b>Crom lrot discomfort:</b>
  <%= @chiropractic_investigation_list.crom_lrot_discomfort %>
</p>

<p>
  <b>Lrom lrot exam:</b>
  <%= @chiropractic_investigation_list.lrom_lrot_exam %>
</p>

<p>
  <b>Lrom lrot pain:</b>
  <%= @chiropractic_investigation_list.lrom_lrot_pain %>
</p>

<p>
  <b>Lrom lrot discomfort:</b>
  <%= @chiropractic_investigation_list.lrom_lrot_discomfort %>
</p>

<p>
  <b>Crom rrot exam:</b>
  <%= @chiropractic_investigation_list.crom_rrot_exam %>
</p>

<p>
  <b>Crom rrot pain:</b>
  <%= @chiropractic_investigation_list.crom_rrot_pain %>
</p>

<p>
  <b>Crom rrot discomfort:</b>
  <%= @chiropractic_investigation_list.crom_rrot_discomfort %>
</p>

<p>
  <b>Lrom rrot exam:</b>
  <%= @chiropractic_investigation_list.lrom_rrot_exam %>
</p>

<p>
  <b>Lrom rrot pain:</b>
  <%= @chiropractic_investigation_list.lrom_rrot_pain %>
</p>

<p>
  <b>Lrom rrot discomfort:</b>
  <%= @chiropractic_investigation_list.lrom_rrot_discomfort %>
</p>

<p>
  <b>Crom llf exam:</b>
  <%= @chiropractic_investigation_list.crom_llf_exam %>
</p>

<p>
  <b>Crom llf pain:</b>
  <%= @chiropractic_investigation_list.crom_llf_pain %>
</p>

<p>
  <b>Crom llf discomfort:</b>
  <%= @chiropractic_investigation_list.crom_llf_discomfort %>
</p>

<p>
  <b>Lrom llf exam:</b>
  <%= @chiropractic_investigation_list.lrom_llf_exam %>
</p>

<p>
  <b>Lrom llf pain:</b>
  <%= @chiropractic_investigation_list.lrom_llf_pain %>
</p>

<p>
  <b>Lrom llf discomfort:</b>
  <%= @chiropractic_investigation_list.lrom_llf_discomfort %>
</p>

<p>
  <b>Crom rlf exam:</b>
  <%= @chiropractic_investigation_list.crom_rlf_exam %>
</p>

<p>
  <b>Crom rlf pain:</b>
  <%= @chiropractic_investigation_list.crom_rlf_pain %>
</p>

<p>
  <b>Crom rlf discomfort:</b>
  <%= @chiropractic_investigation_list.crom_rlf_discomfort %>
</p>

<p>
  <b>Lrom rlf exam:</b>
  <%= @chiropractic_investigation_list.lrom_rlf_exam %>
</p>

<p>
  <b>Lrom rlf pain:</b>
  <%= @chiropractic_investigation_list.lrom_rlf_pain %>
</p>

<p>
  <b>Lrom rlf discomfort:</b>
  <%= @chiropractic_investigation_list.lrom_rlf_discomfort %>
</p>

<p>
  <b>Other roms:</b>
  <%= @chiropractic_investigation_list.other_roms %>
</p>

<p>
  <b>Cervical paraspinal musculature noted:</b>
  <%= @chiropractic_investigation_list.cervical_paraspinal_musculature_noted %>
</p>

<p>
  <b>Cervical paraspinal musculature side:</b>
  <%= @chiropractic_investigation_list.cervical_paraspinal_musculature_side %>
</p>

<p>
  <b>Throacic paraspinal musculature noted:</b>
  <%= @chiropractic_investigation_list.throacic_paraspinal_musculature_noted %>
</p>

<p>
  <b>Throacic paraspinal musculature side:</b>
  <%= @chiropractic_investigation_list.throacic_paraspinal_musculature_side %>
</p>

<p>
  <b>Lumbar paraspinal musculature noted:</b>
  <%= @chiropractic_investigation_list.lumbar_paraspinal_musculature_noted %>
</p>

<p>
  <b>Lumbar paraspinal musculature side:</b>
  <%= @chiropractic_investigation_list.lumbar_paraspinal_musculature_side %>
</p>

<p>
  <b>Motor testing:</b>
  <%= @chiropractic_investigation_list.motor_testing %>
</p>

<p>
  <b>Motor testing exception:</b>
  <%= @chiropractic_investigation_list.motor_testing_exception %>
</p>

<p>
  <b>Subluxation c1:</b>
  <%= @chiropractic_investigation_list.subluxation_c1 %>
</p>

<p>
  <b>Subluxation c2:</b>
  <%= @chiropractic_investigation_list.subluxation_c2 %>
</p>

<p>
  <b>Subluxation c3:</b>
  <%= @chiropractic_investigation_list.subluxation_c3 %>
</p>

<p>
  <b>Subluxation c4:</b>
  <%= @chiropractic_investigation_list.subluxation_c4 %>
</p>

<p>
  <b>Subluxation c5:</b>
  <%= @chiropractic_investigation_list.subluxation_c5 %>
</p>

<p>
  <b>Subluxation c6:</b>
  <%= @chiropractic_investigation_list.subluxation_c6 %>
</p>

<p>
  <b>Subluxation c7:</b>
  <%= @chiropractic_investigation_list.subluxation_c7 %>
</p>

<p>
  <b>Subluxation t1:</b>
  <%= @chiropractic_investigation_list.subluxation_t1 %>
</p>

<p>
  <b>Subluxation t2:</b>
  <%= @chiropractic_investigation_list.subluxation_t2 %>
</p>

<p>
  <b>Subluxation t3:</b>
  <%= @chiropractic_investigation_list.subluxation_t3 %>
</p>

<p>
  <b>Subluxation t4:</b>
  <%= @chiropractic_investigation_list.subluxation_t4 %>
</p>

<p>
  <b>Subluxation t5:</b>
  <%= @chiropractic_investigation_list.subluxation_t5 %>
</p>

<p>
  <b>Subluxation t6:</b>
  <%= @chiropractic_investigation_list.subluxation_t6 %>
</p>

<p>
  <b>Subluxation t7:</b>
  <%= @chiropractic_investigation_list.subluxation_t7 %>
</p>

<p>
  <b>Subluxation t8:</b>
  <%= @chiropractic_investigation_list.subluxation_t8 %>
</p>

<p>
  <b>Subluxation t9:</b>
  <%= @chiropractic_investigation_list.subluxation_t9 %>
</p>

<p>
  <b>Subluxation t10:</b>
  <%= @chiropractic_investigation_list.subluxation_t10 %>
</p>

<p>
  <b>Subluxation t11:</b>
  <%= @chiropractic_investigation_list.subluxation_t11 %>
</p>

<p>
  <b>Subluxation t12:</b>
  <%= @chiropractic_investigation_list.subluxation_t12 %>
</p>

<p>
  <b>Subluxation l1:</b>
  <%= @chiropractic_investigation_list.subluxation_l1 %>
</p>

<p>
  <b>Subluxation l2:</b>
  <%= @chiropractic_investigation_list.subluxation_l2 %>
</p>

<p>
  <b>Subluxation l3:</b>
  <%= @chiropractic_investigation_list.subluxation_l3 %>
</p>

<p>
  <b>Subluxation l4:</b>
  <%= @chiropractic_investigation_list.subluxation_l4 %>
</p>

<p>
  <b>Subluxation l5:</b>
  <%= @chiropractic_investigation_list.subluxation_l5 %>
</p>

<p>
  <b>Dermatomes:</b>
  <%= @chiropractic_investigation_list.dermatomes %>
</p>

<p>
  <b>Dermatomes exception:</b>
  <%= @chiropractic_investigation_list.dermatomes_exception %>
</p>

<p>
  <b>Dtr biceps right:</b>
  <%= @chiropractic_investigation_list.dtr_biceps_right %>
</p>

<p>
  <b>Dtr biceps left:</b>
  <%= @chiropractic_investigation_list.dtr_biceps_left %>
</p>

<p>
  <b>Dtr pronator right:</b>
  <%= @chiropractic_investigation_list.dtr_pronator_right %>
</p>

<p>
  <b>Dtr pronator left:</b>
  <%= @chiropractic_investigation_list.dtr_pronator_left %>
</p>

<p>
  <b>Dtr triceps right:</b>
  <%= @chiropractic_investigation_list.dtr_triceps_right %>
</p>

<p>
  <b>Dtr triceps left:</b>
  <%= @chiropractic_investigation_list.dtr_triceps_left %>
</p>

<p>
  <b>Dtr patella right:</b>
  <%= @chiropractic_investigation_list.dtr_patella_right %>
</p>

<p>
  <b>Dtr patella left:</b>
  <%= @chiropractic_investigation_list.dtr_patella_left %>
</p>

<p>
  <b>Dtr achilles right:</b>
  <%= @chiropractic_investigation_list.dtr_achilles_right %>
</p>

<p>
  <b>Dtr achilles left:</b>
  <%= @chiropractic_investigation_list.dtr_achilles_left %>
</p>

<p>
  <b>Orthopedic test cervical comp right:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_cervical_comp_right %>
</p>

<p>
  <b>Orthopedic test cervical comp left:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_cervical_comp_left %>
</p>

<p>
  <b>Orthopedic test distraction right:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_distraction_right %>
</p>

<p>
  <b>Orthopedic test distraction left:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_distraction_left %>
</p>

<p>
  <b>Orthopedic test shoulder dep right:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_shoulder_dep_right %>
</p>

<p>
  <b>Orthopedic test shoulder dep left:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_shoulder_dep_left %>
</p>

<p>
  <b>Orthopedic test soto hall right:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_soto_hall_right %>
</p>

<p>
  <b>Orthopedic test soto hall left:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_soto_hall_left %>
</p>

<p>
  <b>Orthopedic test slr right:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_slr_right %>
</p>

<p>
  <b>Orthopedic test slr left:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_slr_left %>
</p>

<p>
  <b>Orthopedic test braggard right:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_braggard_right %>
</p>

<p>
  <b>Orthopedic test braggard left:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_braggard_left %>
</p>

<p>
  <b>Orthopedic test kemps right:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_kemps_right %>
</p>

<p>
  <b>Orthopedic test kemps left:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_kemps_left %>
</p>

<p>
  <b>Orthopedic test valsalva right:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_valsalva_right %>
</p>

<p>
  <b>Orthopedic test valsalva left:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_valsalva_left %>
</p>

<p>
  <b>Orthopedic test nachlas right:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_nachlas_right %>
</p>

<p>
  <b>Orthopedic test nachlas left:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_nachlas_left %>
</p>

<p>
  <b>Orthopedic test yeomans right:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_yeomans_right %>
</p>

<p>
  <b>Orthopedic test yeomans left:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_yeomans_left %>
</p>

<p>
  <b>Orthopedic test fabere patrick right:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_fabere_patrick_right %>
</p>

<p>
  <b>Orthopedic test fabere patrick left:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_fabere_patrick_left %>
</p>

<p>
  <b>Orthopedic test elys right:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_elys_right %>
</p>

<p>
  <b>Orthopedic test elys left:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_elys_left %>
</p>

<p>
  <b>Orthopedic test other:</b>
  <%= @chiropractic_investigation_list.orthopedic_test_other %>
</p>

<p>
  <b>Grip strength dyn1 right:</b>
  <%= @chiropractic_investigation_list.grip_strength_dyn1_right %>
</p>

<p>
  <b>Rip strength dyn1 left:</b>
  <%= @chiropractic_investigation_list.rip_strength_dyn1_left %>
</p>

<p>
  <b>Grip strength dyn2 right:</b>
  <%= @chiropractic_investigation_list.grip_strength_dyn2_right %>
</p>

<p>
  <b>Rip strength dyn2 left:</b>
  <%= @chiropractic_investigation_list.rip_strength_dyn2_left %>
</p>

<p>
  <b>Grip strength dyn3 right:</b>
  <%= @chiropractic_investigation_list.grip_strength_dyn3_right %>
</p>

<p>
  <b>Rip strength dyn3 left:</b>
  <%= @chiropractic_investigation_list.rip_strength_dyn3_left %>
</p>

<p>
  <b>Standing activity affected:</b>
  <%= @chiropractic_investigation_list.standing_activity_affected %>
</p>

<p>
  <b>Sitting activity affected:</b>
  <%= @chiropractic_investigation_list.sitting_activity_affected %>
</p>

<p>
  <b>Bending activity affected:</b>
  <%= @chiropractic_investigation_list.bending_activity_affected %>
</p>

<p>
  <b>Lifting activity affected:</b>
  <%= @chiropractic_investigation_list.lifting_activity_affected %>
</p>

<p>
  <b>Walking activity affected:</b>
  <%= @chiropractic_investigation_list.walking_activity_affected %>
</p>

<p>
  <b>Sleeping activity affected:</b>
  <%= @chiropractic_investigation_list.sleeping_activity_affected %>
</p>

<p>
  <b>Other activities affected:</b>
  <%= @chiropractic_investigation_list.other_activities_affected %>
</p>


<%= link_to 'Edit', edit_chiropractic_investigation_list_path(@chiropractic_investigation_list) %> |
<%= link_to 'Back', chiropractic_investigation_lists_path %>
