<p id="notice"><%= notice %></p>

<p>
  <b>Spinal adjustment 1 2 regions:</b>
  <%= @chiropractic_body_adjustment_list.spinal_adjustment_1_2_regions %>
</p>

<p>
  <b>Spinal adjustment 3 4 regions:</b>
  <%= @chiropractic_body_adjustment_list.spinal_adjustment_3_4_regions %>
</p>

<p>
  <b>Spinal adjustment 5 or more regions:</b>
  <%= @chiropractic_body_adjustment_list.spinal_adjustment_5_or_more_regions %>
</p>

<p>
  <b>Extremity adjustment shoulder left:</b>
  <%= @chiropractic_body_adjustment_list.extremity_adjustment_shoulder_left %>
</p>

<p>
  <b>Extremity adjustment shoulder right:</b>
  <%= @chiropractic_body_adjustment_list.extremity_adjustment_shoulder_right %>
</p>

<p>
  <b>Extremity adjustment elbow left:</b>
  <%= @chiropractic_body_adjustment_list.extremity_adjustment_elbow_left %>
</p>

<p>
  <b>Extremity adjustment elbow right:</b>
  <%= @chiropractic_body_adjustment_list.extremity_adjustment_elbow_right %>
</p>

<p>
  <b>Extremity adjustment wrist left:</b>
  <%= @chiropractic_body_adjustment_list.extremity_adjustment_wrist_left %>
</p>

<p>
  <b>Extremity adjustment wrist right:</b>
  <%= @chiropractic_body_adjustment_list.extremity_adjustment_wrist_right %>
</p>

<p>
  <b>Extremity adjustment hip left:</b>
  <%= @chiropractic_body_adjustment_list.extremity_adjustment_hip_left %>
</p>

<p>
  <b>Extremity adjustment hip right:</b>
  <%= @chiropractic_body_adjustment_list.extremity_adjustment_hip_right %>
</p>

<p>
  <b>Extremity adjustment knee left:</b>
  <%= @chiropractic_body_adjustment_list.extremity_adjustment_knee_left %>
</p>

<p>
  <b>Extremity adjustment knee right:</b>
  <%= @chiropractic_body_adjustment_list.extremity_adjustment_knee_right %>
</p>

<p>
  <b>Extremity adjustment ankle left:</b>
  <%= @chiropractic_body_adjustment_list.extremity_adjustment_ankle_left %>
</p>

<p>
  <b>Extremity adjustment ankle right:</b>
  <%= @chiropractic_body_adjustment_list.extremity_adjustment_ankle_right %>
</p>


<%= link_to 'Edit', edit_chiropractic_body_adjustment_list_path(@chiropractic_body_adjustment_list) %> |
<%= link_to 'Back', chiropractic_body_adjustment_lists_path %>
