<p id="notice"><%= notice %></p>

<p>
  <b>Compliance:</b>
  <%= @chiropractic_compliance.compliance %>
</p>

<p>
  <b>Compliance:</b>
  <%= @chiropractic_compliance.compliance %>
</p>

<p>
  <b>Compliance affected by transportation:</b>
  <%= @chiropractic_compliance.compliance_affected_by_transportation %>
</p>

<p>
  <b>Compliance affected by work schedule:</b>
  <%= @chiropractic_compliance.compliance_affected_by_work_schedule %>
</p>

<p>
  <b>Compliance affected by personal matter:</b>
  <%= @chiropractic_compliance.compliance_affected_by_personal_matter %>
</p>

<p>
  <b>Compliance affected by other reason:</b>
  <%= @chiropractic_compliance.compliance_affected_by_other_reason %>
</p>

<p>
  <b>Other reason for compliance:</b>
  <%= @chiropractic_compliance.other_reason_for_compliance %>
</p>


<%= link_to 'Edit', edit_chiropractic_compliance_path(@chiropractic_compliance) %> |
<%= link_to 'Back', chiropractic_compliances_path %>
