<div class="span-24">
	<ul id="crumbs">
		<li><%= link_to 'Patients', patients_path %></li>
		<li><%= link_to 'Cases', patient_accidents_path(@patient) %></li>
		<li><%= link_to 'Chiropractic Examinations', patient_accident_chiropractic_examinations_path(@patient, @accident) %></li>
		<li><%= link_to 'Chiropractic Treatments', patient_accident_chiropractic_examination_chiropractic_treatments_path(@patient, @accident, @chiropractic_examination) %></li>
	</ul>
</div>

<div class="span-24">	
	<table class="advanced">
	  <thead>
			<th class="span-4">Patient</th>
			<th class="span-3">Treatment Date</th>
	    <th class="span-3">Completed</th>
			<th class="span-3">Claim Filed</th>
    <th class="span-3 last"></th>
  </thead>

	<tbody>
		<% @chiropractic_treatments.each do |chiropractic_treatment| %>
		  <tr>
		    <td><%= @patient.full_name %></td>
		    <td><%= chiropractic_treatment.treatment_date.strftime('%b %d, %Y') %></td>
				<td><%= chiropractic_treatment.completed? ? chiropractic_treatment.completed_at.strftime('%b %d, %Y %I:%M %p') : 'No' %></td>
				<td><%= chiropractic_treatment.insurance_claim_filed? ? chiropractic_treatment.insurance_claim_filed_at.strftime('%b %d, %Y %I:%M %p') : 'No' %></td>
		    <td><%= link_to 'Show', patient_accident_chiropractic_examination_chiropractic_treatment_path(@patient, @accident, @chiropractic_examination, chiropractic_treatment) %> <% unless chiropractic_treatment.insurance_claim_filed? %> | <%= link_to 'Edit', edit_patient_accident_chiropractic_examination_chiropractic_treatment_path(@patient, @accident, @chiropractic_examination, chiropractic_treatment) %> <% end %> | <%= link_to 'Archive', patient_accident_chiropractic_examination_chiropractic_treatment_path(@patient, @accident, @chiropractic_examination, chiropractic_treatment), confirm: 'Are you sure you want to archive this chiropractic treatment record?', method: :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<hr class="space"/>

<div class="span-24">
	<%= paginate @chiropractic_treatments %>
</div>

<br/>

<div class="prepend-18 span-6">
<%= link_to 'New Chiropractic Treatment', new_patient_accident_chiropractic_examination_chiropractic_treatment_path(@patient, @accident, @chiropractic_examination), :class => 'button positive' %>
</div>
