<p id="notice"><%= notice %></p>

<p>
  <b>Myospasms:</b>
  <%= @chiropractic_observation_list.myospasms %>
</p>

<p>
  <b>Tenderness:</b>
  <%= @chiropractic_observation_list.tenderness %>
</p>

<p>
  <b>Hypotonicity:</b>
  <%= @chiropractic_observation_list.hypotonicity %>
</p>

<p>
  <b>Flare ups:</b>
  <%= @chiropractic_observation_list.flare_ups %>
</p>

<p>
  <b>Suboccipitals:</b>
  <%= @chiropractic_observation_list.suboccipitals %>
</p>

<p>
  <b>Rhomboids:</b>
  <%= @chiropractic_observation_list.rhomboids %>
</p>

<p>
  <b>Deltoids:</b>
  <%= @chiropractic_observation_list.deltoids %>
</p>

<p>
  <b>Quad lumb:</b>
  <%= @chiropractic_observation_list.quad_lumb %>
</p>

<p>
  <b>Uppertraps:</b>
  <%= @chiropractic_observation_list.uppertraps %>
</p>

<p>
  <b>Levator scap:</b>
  <%= @chiropractic_observation_list.levator_scap %>
</p>

<p>
  <b>Ctl paraspinals:</b>
  <%= @chiropractic_observation_list.ctl_paraspinals %>
</p>

<p>
  <b>Other observations:</b>
  <%= @chiropractic_observation_list.other_observations %>
</p>

<p>
  <b>Disc c1:</b>
  <%= @chiropractic_observation_list.disc_c1 %>
</p>

<p>
  <b>Disc c2:</b>
  <%= @chiropractic_observation_list.disc_c2 %>
</p>

<p>
  <b>Disc c3:</b>
  <%= @chiropractic_observation_list.disc_c3 %>
</p>

<p>
  <b>Disc c4:</b>
  <%= @chiropractic_observation_list.disc_c4 %>
</p>

<p>
  <b>Disc c5:</b>
  <%= @chiropractic_observation_list.disc_c5 %>
</p>

<p>
  <b>Disc c6:</b>
  <%= @chiropractic_observation_list.disc_c6 %>
</p>

<p>
  <b>Disc c7:</b>
  <%= @chiropractic_observation_list.disc_c7 %>
</p>

<p>
  <b>Disc t1:</b>
  <%= @chiropractic_observation_list.disc_t1 %>
</p>

<p>
  <b>Disc t2:</b>
  <%= @chiropractic_observation_list.disc_t2 %>
</p>

<p>
  <b>Disc t3:</b>
  <%= @chiropractic_observation_list.disc_t3 %>
</p>

<p>
  <b>Disc t4:</b>
  <%= @chiropractic_observation_list.disc_t4 %>
</p>

<p>
  <b>Disc t5:</b>
  <%= @chiropractic_observation_list.disc_t5 %>
</p>

<p>
  <b>Disc t6:</b>
  <%= @chiropractic_observation_list.disc_t6 %>
</p>

<p>
  <b>Disc t7:</b>
  <%= @chiropractic_observation_list.disc_t7 %>
</p>

<p>
  <b>Disc t8:</b>
  <%= @chiropractic_observation_list.disc_t8 %>
</p>

<p>
  <b>Disc t9:</b>
  <%= @chiropractic_observation_list.disc_t9 %>
</p>

<p>
  <b>Disc t10:</b>
  <%= @chiropractic_observation_list.disc_t10 %>
</p>

<p>
  <b>Disc t11:</b>
  <%= @chiropractic_observation_list.disc_t11 %>
</p>

<p>
  <b>Disc t12:</b>
  <%= @chiropractic_observation_list.disc_t12 %>
</p>

<p>
  <b>Disc l1:</b>
  <%= @chiropractic_observation_list.disc_l1 %>
</p>

<p>
  <b>Disc l2:</b>
  <%= @chiropractic_observation_list.disc_l2 %>
</p>

<p>
  <b>Disc l3:</b>
  <%= @chiropractic_observation_list.disc_l3 %>
</p>

<p>
  <b>Disc l4:</b>
  <%= @chiropractic_observation_list.disc_l4 %>
</p>

<p>
  <b>Disc l5:</b>
  <%= @chiropractic_observation_list.disc_l5 %>
</p>

<p>
  <b>Occiput:</b>
  <%= @chiropractic_observation_list.occiput %>
</p>

<p>
  <b>Sacrum:</b>
  <%= @chiropractic_observation_list.sacrum %>
</p>

<p>
  <b>Sacroiliac left:</b>
  <%= @chiropractic_observation_list.sacroiliac_left %>
</p>

<p>
  <b>Sacroiliac right:</b>
  <%= @chiropractic_observation_list.sacroiliac_right %>
</p>


<%= link_to 'Edit', edit_chiropractic_observation_list_path(@chiropractic_observation_list) %> |
<%= link_to 'Back', chiropractic_observation_lists_path %>
