<% content_for(:main_header) do %>
	<h1 class="title">Patients</h1>		
	<%= link_to 'New Patient', new_patient_path, :class => 'left black_button' %>
<% end %>

<% content_for(:main_content) do %>

	<div>	
		<table class="advanced">
		  <thead>
				<tr>
		   	 <th>Patient</th>
			    <th>Age</th>
			    <th>Cell Phone</th>
			    <th>Occupation</th>
					<th></th>
				</tr>
	    </thead>
		
			<tbody>
				<% @patients.each do |patient| %>
				  <tr>
				    <td><%= link_to patient.full_name, patient_path(patient) %></td>
				    <td><%= patient.age %> yrs</td>
				    <td><%= patient.cell_phone %></td>
				    <td><%= patient.occupation %></td>
				    <td>
							<% if patient.deleted_at.blank? %>
								<%= link_to 'Archive', patient, confirm: 'Are you sure you want to archive this patient? All related cases, chiropractic examinations and chiropractic treatment notes will also be archived.', method: :delete %>
							<% else %>
								<%= link_to 'Unarchive', patient, confirm: 'Are you sure you want to unarchive this patient? All related cases, chiropractic examinations and chiropractic treatment notes will also be unarchived.', method: :delete %>
							<% end %>
						</td>
						<% if current_user.doctor? %>
					 		<td> <%= (patient.accidents.blank?) ? link_to('New Case', new_patient_accident_path(patient)) : link_to('Cases', patient_accidents_path(patient)) %></td>
						<% end %>
				  </tr>
				<% end %>
			</tbody>
		</table>

	</div>

	<br/>

	<div>
		<%= paginate @patients %>
	</div>

<% end %>