<p id="notice"><%= notice %></p>

<p>
  <b>Spine xray:</b>
  <%= @chiropractic_treatment_plan.spine_xray %>
</p>

<p>
  <b>Spine xray cervical:</b>
  <%= @chiropractic_treatment_plan.spine_xray_cervical %>
</p>

<p>
  <b>Need xray reports:</b>
  <%= @chiropractic_treatment_plan.need_xray_reports %>
</p>

<p>
  <b>Need past medical records:</b>
  <%= @chiropractic_treatment_plan.need_past_medical_records %>
</p>

<p>
  <b>Spinal adjustments:</b>
  <%= @chiropractic_treatment_plan.spinal_adjustments %>
</p>

<p>
  <b>Spinal adjustments frequency:</b>
  <%= @chiropractic_treatment_plan.spinal_adjustments_frequency %>
</p>

<p>
  <b>Extremity adjustments:</b>
  <%= @chiropractic_treatment_plan.extremity_adjustments %>
</p>

<p>
  <b>Extremity adjustments frequency:</b>
  <%= @chiropractic_treatment_plan.extremity_adjustments_frequency %>
</p>

<p>
  <b>Extremity adjustments frequency:</b>
  <%= @chiropractic_treatment_plan.extremity_adjustment_body_part %>
</p>

<p>
  <b>Recommend medical consultation:</b>
  <%= @chiropractic_treatment_plan.recommend_medical_consultation %>
</p>

<p>
  <b>Recommended medical evaluation:</b>
  <%= @chiropractic_treatment_plan.recommended_medical_evaluation %>
</p>

<p>
  <b>Re examine in 4 weeks:</b>
  <%= @chiropractic_treatment_plan.re_examine_in_4_weeks %>
</p>

<p>
  <b>Spine mri:</b>
  <%= @chiropractic_treatment_plan.spine_mri %>
</p>

<p>
  <b>Pending medical clearance for medications:</b>
  <%= @chiropractic_treatment_plan.pending_medical_clearance_for_medications %>
</p>

<p>
  <b>Taping frequency:</b>
  <%= @chiropractic_treatment_plan.taping_frequency %>
</p>

<p>
  <b>Taping cervical paraspinal scm trapezious muscles:</b>
  <%= @chiropractic_treatment_plan.taping_cervical_paraspinal_scm_trapezious_muscles %>
</p>

<p>
  <b>Taping cervical disc bulge disc herniation:</b>
  <%= @chiropractic_treatment_plan.taping_cervical_disc_bulge_disc_herniation %>
</p>

<p>
  <b>Taping thoracic paraspinal scapular muscles:</b>
  <%= @chiropractic_treatment_plan.taping_thoracic_paraspinal_scapular_muscles %>
</p>

<p>
  <b>Taping low back lumbar paraspinal lumbar erectors:</b>
  <%= @chiropractic_treatment_plan.taping_low_back_lumbar_paraspinal_lumbar_erectors %>
</p>

<p>
  <b>Taping lumbar disc bulge disc herniation:</b>
  <%= @chiropractic_treatment_plan.taping_lumbar_disc_bulge_disc_herniation %>
</p>

<p>
  <b>Taping sacroiliac joint:</b>
  <%= @chiropractic_treatment_plan.taping_sacroiliac_joint %>
</p>

<p>
  <b>Taping other:</b>
  <%= @chiropractic_treatment_plan.other_recommendations %>
</p>


<%= link_to 'Edit', edit_chiropractic_treatment_plan_path(@chiropractic_treatment_plan) %> |
<%= link_to 'Back', chiropractic_treatment_plans_path %>
