<div class="span-24">
	<table class="advanced">
	  <thead>
	    <th class="span-24">Archived Records</th>
    </thead>
		
		<tbody>
			<tr><td><%= link_to 'Users Archive', archives_users_path %></td></tr>
			<tr><td><%= link_to 'Clients Archive', archives_clients_path %></td></tr>
			<tr><td><%= link_to 'Patients Archive', archives_patients_path %></td></tr>
			<tr><td><%= link_to 'Cases Archive', archives_accidents_path %> </td></tr>
			<tr><td><%= link_to 'Chiropractic Examinations Archive', archives_chiropractic_examinations_path %> </td></tr>
			<tr><td><%= link_to 'Chiropractic Treatments Archive', archives_chiropractic_treatments_path %> </td></tr>
			<tr><td><%= link_to 'Insurance Companies Archive', archives_insurance_companies_path %> </td></tr>
		</tbody>
	</table>
</div>