
<%= f.fields_for :chiropractic_body_adjustment_list do |builder| %>

	<h2 class="title2">FIXATION/CMT</h2>	
	
	<div class="box-white">
		<p>
			<label>
				Cervical:
			</label>
			<%= builder.check_box :subluxation_c1, :disabled => disable_option %>C1&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_c2, :disabled => disable_option %>C2&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_c3, :disabled => disable_option %>C3&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_c4, :disabled => disable_option %>C4&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_c5, :disabled => disable_option %>C5&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_c6, :disabled => disable_option %>C6&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_c7, :disabled => disable_option %>C7 
		</p>
		
		<p>
		  <label>
			Thoracic:
		  </label>
		  <%= builder.check_box :subluxation_t1, :disabled => disable_option %>T1&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_t2, :disabled => disable_option %>T2&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_t3, :disabled => disable_option %>T3&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_t4, :disabled => disable_option %>T4&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_t5, :disabled => disable_option %>T5&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_t6, :disabled => disable_option %>T6&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_t7, :disabled => disable_option %>T7
		</p>
		
		<p>
		  &nbsp;
		  <%= builder.check_box :subluxation_t8, :disabled => disable_option %>T8&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_t9, :disabled => disable_option %>T9&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_t10, :disabled => disable_option %>T10&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_t11, :disabled => disable_option %>T11&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_t12, :disabled => disable_option %>T12
		</p>
		<p>
		  <label>Lumbar:</label>
		  <%= builder.check_box :subluxation_l1, :disabled => disable_option %>L1&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_l2, :disabled => disable_option %>L2&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_l3, :disabled => disable_option %>L3&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_l4, :disabled => disable_option %>L4&nbsp;&nbsp;&nbsp;&nbsp;<%= builder.check_box :subluxation_l5, :disabled => disable_option %>L5&nbsp;<label>Lumbar</label>
		</p>
		<p>
		  <%= builder.check_box :cmt_hip, :disabled => disable_option %>&nbsp;<label>Hip</label>
		</p>
		<p>
		  <%= builder.check_box :cmt_pelvis, :disabled => disable_option %>&nbsp;<label>Pelvis</label>
		</p>
		<p>
		  <%= builder.check_box :cmt_sacrum, :disabled => disable_option %>&nbsp;<label>Sacrum</label>
		</p>
		<p>
		  <%= builder.check_box :cmt_shoulder, :disabled => disable_option %>&nbsp;<label>Shoulder</label>
		</p>
		<p>
		  <%= builder.check_box :cmt_elbow, :disabled => disable_option %>&nbsp;<label>Elbow</label>
		</p>
		<p>
		  <%= builder.check_box :cmt_hand, :disabled => disable_option %>&nbsp;<label>Hand</label>
		</p>
		<p>
		  <%= builder.check_box :cmt_knee, :disabled => disable_option %>&nbsp;<label>Knee</label>
		</p>
		<p>
		  <%= builder.check_box :cmt_ankle, :disabled => disable_option %>&nbsp;<label>Ankle</label>
		</p>
	</div>
	
	<h2 class="title2">SPINAL ADJUSTMENT</h2>	
	
	<div class="box-white">
		<p>
		  <%= builder.check_box :spinal_adjustment_1_2_regions, :disabled => disable_option %>&nbsp;<label>98940 (1-2 spinal regions)</label>
		</p>
		<p>
		  <%= builder.check_box :spinal_adjustment_3_4_regions, :disabled => disable_option %>&nbsp;<label>98941 (3-4 spinal regions)</label>
		</p>
		<p>
		  <%= builder.check_box :spinal_adjustment_5_or_more_regions, :disabled => disable_option %>&nbsp;<label>98942 (5 or more spinal regions)</label>
		</p>
	</div>
	
	<h2 class="title2">EXTREMITY ADJUSTMENT</h2>	

	<div class="box-white">
		<p class="center">Shoulder</p>
		<p>
		  <%= builder.check_box :extremity_adjustment_shoulder_left, :disabled => disable_option %>&nbsp;<label>Left Shoulder</label>
		</p>
		<p>
		  <%= builder.check_box :extremity_adjustment_shoulder_right, :disabled => disable_option %>&nbsp;<label>Right Shoulder</label>
		</p>
		
		<p class="center">Elbow</p>
		<p>
		  <%= builder.check_box :extremity_adjustment_elbow_left, :disabled => disable_option %>&nbsp;<label>Left Elbow</label>
		</p>
		<p>
		  <%= builder.check_box :extremity_adjustment_elbow_right, :disabled => disable_option %>&nbsp;<label>Right Elbow</label>
		</p>
		
		<p class="center">Wrist</p>
		<p>
		  <%= builder.check_box :extremity_adjustment_wrist_left, :disabled => disable_option %>&nbsp;<label>Left Wrist</label>
		</p>
		<p>
		  <%= builder.check_box :extremity_adjustment_wrist_right, :disabled => disable_option %>&nbsp;<label>Right Wrist</label>
		</p>
		
		<p class="center">Hip</p>
		<p>
		  <%= builder.check_box :extremity_adjustment_hip_left, :disabled => disable_option %>&nbsp;<label>Left Hip</label>
		</p>
		<p>
		  <%= builder.check_box :extremity_adjustment_hip_right, :disabled => disable_option %>&nbsp;<label>Right Hip</label>
		</p>
		
		<p class="center">Knee</p>
		<p>
		  <%= builder.check_box :extremity_adjustment_knee_left, :disabled => disable_option %>&nbsp;<label>Left Knee</label>
		</p>
		<p>
		  <%= builder.check_box :extremity_adjustment_knee_right, :disabled => disable_option %>&nbsp;<label>Right Knee</label>
		</p>
		
		<p class="center">Ankle</p>
		<p>
		  <%= builder.check_box :extremity_adjustment_ankle_left, :disabled => disable_option %>&nbsp;<label>Left Ankle</label>
		</p>
		<p>
		  <%= builder.check_box :extremity_adjustment_ankle_right, :disabled => disable_option %>&nbsp;<label>Right Ankle</label>
		</p>
	</div>
	
<% end %>





