<p id="notice"><%= notice %></p>

<p>
  <b>Ultrasound:</b>
  <%= @chiropractic_modalities_list.ultrasound %>
</p>

<p>
  <b>Electric stimulation:</b>
  <%= @chiropractic_modalities_list.electric_stimulation %>
</p>

<p>
  <b>Moist heat:</b>
  <%= @chiropractic_modalities_list.moist_heat %>
</p>

<p>
  <b>Massage:</b>
  <%= @chiropractic_modalities_list.massage %>
</p>

<p>
  <b>Mfr:</b>
  <%= @chiropractic_modalities_list.mfr %>
</p>

<p>
  <b>Mfr cervical:</b>
  <%= @chiropractic_modalities_list.mfr_cervical %>
</p>

<p>
  <b>Mfr thoracic:</b>
  <%= @chiropractic_modalities_list.mfr_thoracic %>
</p>

<p>
  <b>Mfr lumbar:</b>
  <%= @chiropractic_modalities_list.mfr_lumbar %>
</p>

<p>
  <b>Therapeutic exercise:</b>
  <%= @chiropractic_modalities_list.therapeutic_exercise %>
</p>

<p>
  <b>Mechanical traction:</b>
  <%= @chiropractic_modalities_list.mechanical_traction %>
</p>

<p>
  <b>Kinetic activity:</b>
  <%= @chiropractic_modalities_list.kinetic_activity %>
</p>

<p>
  <b>Nmr:</b>
  <%= @chiropractic_modalities_list.nmr %>
</p>

<p>
  <b>Gait training:</b>
  <%= @chiropractic_modalities_list.gait_training %>
</p>

<p>
  <b>Exam re exam:</b>
  <%= @chiropractic_modalities_list.exam_re_exam %>
</p>

<p>
  <b>Home use instruction:</b>
  <%= @chiropractic_modalities_list.home_use_instruction %>
</p>

<p>
  <b>Other:</b>
  <%= @chiropractic_modalities_list.other %>
</p>


<%= link_to 'Edit', edit_chiropractic_modalities_list_path(@chiropractic_modalities_list) %> |
<%= link_to 'Back', chiropractic_modalities_lists_path %>
