<p id="notice"><%= notice %></p>

<p>
  <b>Cervical sprain:</b>
  <%= @chiropractic_diagnosis_list.cervical_sprain %>
</p>

<p>
  <b>Cervical radiculopathy:</b>
  <%= @chiropractic_diagnosis_list.cervical_radiculopathy %>
</p>

<p>
  <b>Cervicalgia:</b>
  <%= @chiropractic_diagnosis_list.cervicalgia %>
</p>

<p>
  <b>Segmental dysfunction c:</b>
  <%= @chiropractic_diagnosis_list.segmental_dysfunction_c %>
</p>

<p>
  <b>Cervical disc herniation:</b>
  <%= @chiropractic_diagnosis_list.cervical_disc_herniation %>
</p>

<p>
  <b>Cervical myelopathy:</b>
  <%= @chiropractic_diagnosis_list.cervical_myelopathy %>
</p>

<p>
  <b>Thoracic myelopathy:</b>
  <%= @chiropractic_diagnosis_list.thoracic_myelopathy %>
</p>

<p>
  <b>Thoracic sprain:</b>
  <%= @chiropractic_diagnosis_list.thoracic_sprain %>
</p>

<p>
  <b>Thoracic pain:</b>
  <%= @chiropractic_diagnosis_list.thoracic_pain %>
</p>

<p>
  <b>Segmental dysfunction t:</b>
  <%= @chiropractic_diagnosis_list.segmental_dysfunction_t %>
</p>

<p>
  <b>Scoliosis:</b>
  <%= @chiropractic_diagnosis_list.scoliosis %>
</p>

<p>
  <b>Sciatica:</b>
  <%= @chiropractic_diagnosis_list.sciatica %>
</p>

<p>
  <b>Lumbar sprain:</b>
  <%= @chiropractic_diagnosis_list.lumbar_sprain %>
</p>

<p>
  <b>Lumbar radiculopathy:</b>
  <%= @chiropractic_diagnosis_list.lumbar_radiculopathy %>
</p>

<p>
  <b>Lumbago:</b>
  <%= @chiropractic_diagnosis_list.lumbago %>
</p>

<p>
  <b>Lumbar disc herniation:</b>
  <%= @chiropractic_diagnosis_list.lumbar_disc_herniation %>
</p>

<p>
  <b>Lumbar myelopathy:</b>
  <%= @chiropractic_diagnosis_list.lumbar_myelopathy %>
</p>

<p>
  <b>Sacroiliac sprain:</b>
  <%= @chiropractic_diagnosis_list.sacroiliac_sprain %>
</p>

<p>
  <b>Paresthesia:</b>
  <%= @chiropractic_diagnosis_list.paresthesia %>
</p>

<p>
  <b>Segmental dysfunction l:</b>
  <%= @chiropractic_diagnosis_list.segmental_dysfunction_l %>
</p>

<p>
  <b>Myofascitis:</b>
  <%= @chiropractic_diagnosis_list.myofascitis %>
</p>

<p>
  <b>Shoulder sprain left:</b>
  <%= @chiropractic_diagnosis_list.shoulder_sprain_left %>
</p>

<p>
  <b>Shoulder sprain right:</b>
  <%= @chiropractic_diagnosis_list.shoulder_sprain_right %>
</p>

<p>
  <b>Shoulder dysfunction left:</b>
  <%= @chiropractic_diagnosis_list.shoulder_dysfunction_left %>
</p>

<p>
  <b>Shoulder dysfunction right:</b>
  <%= @chiropractic_diagnosis_list.shoulder_dysfunction_right %>
</p>

<p>
  <b>Elbow sprain left:</b>
  <%= @chiropractic_diagnosis_list.elbow_sprain_left %>
</p>

<p>
  <b>Elbow sprain right:</b>
  <%= @chiropractic_diagnosis_list.elbow_sprain_right %>
</p>

<p>
  <b>Wrist sprain left:</b>
  <%= @chiropractic_diagnosis_list.wrist_sprain_left %>
</p>

<p>
  <b>Wrist sprain right:</b>
  <%= @chiropractic_diagnosis_list.wrist_sprain_right %>
</p>

<p>
  <b>Cervical trigger point:</b>
  <%= @chiropractic_diagnosis_list.cervical_trigger_point %>
</p>

<p>
  <b>Lumbar trigger point:</b>
  <%= @chiropractic_diagnosis_list.lumbar_trigger_point %>
</p>

<p>
  <b>Hip sprain left:</b>
  <%= @chiropractic_diagnosis_list.hip_sprain_left %>
</p>

<p>
  <b>Hip sprain right:</b>
  <%= @chiropractic_diagnosis_list.hip_sprain_right %>
</p>

<p>
  <b>Hip dysfunction left:</b>
  <%= @chiropractic_diagnosis_list.hip_dysfunction_left %>
</p>

<p>
  <b>Hip dysfunction right:</b>
  <%= @chiropractic_diagnosis_list.hip_dysfunction_right %>
</p>

<p>
  <b>Knee sprain left:</b>
  <%= @chiropractic_diagnosis_list.knee_sprain_left %>
</p>

<p>
  <b>Knee sprain right:</b>
  <%= @chiropractic_diagnosis_list.knee_sprain_right %>
</p>

<p>
  <b>Ankle sprain left:</b>
  <%= @chiropractic_diagnosis_list.ankle_sprain_left %>
</p>

<p>
  <b>Ankle sprain right:</b>
  <%= @chiropractic_diagnosis_list.ankle_sprain_right %>
</p>

<p>
  <b>Headaches:</b>
  <%= @chiropractic_diagnosis_list.headaches %>
</p>

<p>
  <b>Dizziness:</b>
  <%= @chiropractic_diagnosis_list.dizziness %>
</p>

<p>
  <b>Post concussive syndrome:</b>
  <%= @chiropractic_diagnosis_list.post_concussive_syndrome %>
</p>

<p>
  <b>Other diagnosis:</b>
  <%= @chiropractic_diagnosis_list.other_diagnosis %>
</p>


<%= link_to 'Edit', edit_chiropractic_diagnosis_list_path(@chiropractic_diagnosis_list) %> |
<%= link_to 'Back', chiropractic_diagnosis_lists_path %>
